{
  "name": "__PACKAGE_NAME__",
  "version": "__VERSION__",
  "description": "Platform binary package for @wisflux/docmost-local-mcp",
  "license": "MIT",
  "os": [
    "__OS__"
  ],
  "cpu": [
    "__CPU__"
  ],
  "bin": {
    "docmost-local-mcp": "./bin/__BINARY_NAME__"
  },
  "files": [
    "bin"
  ],
  "preferUnplugged": true
}
